[flake8]
# ignore most whitespace nit-picks and long lines
ignore = E231,W291,W293,E501,E302,E303,E305,E703,F401
max-line-length = 120

# allow __init__.py to re-export symbols
per-file-ignores =
    grcwa/__init__.py: F401
